body {
  font-family: Helvetica, sans-serif;
}

header {
  letter-spacing: 0.75px;
  font-weight: bold;
  position: relative;
}

#active {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.75px;
  position: relative;
  top: 8px;
}

#outbreak {
  font-size: 26px;
  font-weight: bold;
}

#time {
  font-size: 40px;
  font-weight: bold;
}


#url {
}